<div class="dialog-container">
    <h2 class="text-center mb-4">Eliminar Usuario</h2>
    <p class="text-center">Estás a punto de eliminar el usuario: <strong>{{ usuario.nombre }}</strong></p>
    <p class="text-center">Esta acción no se puede deshacer. ¿Estás seguro?</p>
  
    <div class="d-flex justify-content-between mt-4">
      <button mat-flat-button color="warn" class="cancel-button" (click)="closeDialog()">Cancelar</button>
      <button mat-flat-button color="primary delete-button" (click)="onDelete()">Eliminar</button>
    </div>
  </div>
  