.dialog-container {
    padding: 20px;
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    max-height: 80vh; /* Limita la altura del modal al 80% de la pantalla */
    overflow-y: auto; /* Habilita el scroll vertical */
  }
  
  h2 {
    font-size: 24px;
    font-weight: bold;
    color: #3f51b5; /* Color azul primario */
  }
  
  mat-form-field {
    width: 100%;
  }
  
  button {
    font-weight: bold;
  }
  
  button[type="submit"] {
    margin-left: 10px;
  }
  
  button.mat-flat-button.mat-warn {
    color: #ffffff;
    background-color: #f44336; /* Color rojo */
  }
  
  button.mat-flat-button.mat-primary {
    color: #ffffff;
    background-color: #3f51b5; /* Color azul primario */
  }
  