.crear-evaluacion {
    max-width: 500px; /* Aumenta el ancho del modal */
    margin: auto;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  }
  
  h2 {
    text-align: center;
    color: #3f51b5;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  mat-form-field {
    width: 100%;
    margin-bottom: 20px; /* Agrega espacio entre los campos */
  }
  
  .button-group {
    display: flex;
    justify-content: space-between;
  }
  
  button {
    width: 45%;
  }
  
  button[color="warn"] {
    color: white;
    background-color: #f44336;
  }
  
  button[color="primary"] {
    color: white;
    background-color: #3f51b5;
  }
  
  button:disabled {
    background-color: #ccc;
    color: white;
  }
  